<!DOCTYPE html>
<html>
  <head>
    <title>Shorturl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1 class="text-center">Shorturl</h1>

    <%= yield %>
  </body>
</html>
